html[dir="rtl"] {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: auto;
    left: 10px;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    right: 10px;
    left: auto;
  }
}

html[dir="ltr"] {
  .success-toast {
    @include max-768 {
      min-width: 310px;
    }
  }
  .coupon-item .copy-btn {
    min-width: 174px;
  }
  .coupon-item{
    padding-inline: 18px;
  }
  .logo-footer-item .text{
    line-height: 1.6;
  }
}
