.banners {
  padding-top: 80px;
  padding-bottom: 100px;
  @include max-768{
    padding-block: 60px;
  }
}
.banners-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  @include max-992 {
    grid-template-columns: repeat(2, 1fr);
  }
  @include max-768 {
    grid-template-columns: 1fr;
  }
}

.banner-item{
    width: 100%;
    display: flex;
    align-items: center;
    @include max-768 {
      justify-content: center;
    }
    .banner-img{
        width: 100%;
        aspect-ratio: 360 / 222;
        object-fit: cover;
        max-width: 330px;
        @include max-400{
          max-width: 100%;
        }
    }
}