.brands,
.blog,
.mainBanner {
  .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #000;
    opacity: 0.302;
  }
  .swiper-pagination-bullet-active {
    background-color: $main-color;
    opacity: 1;
  }
}

.brands,
.blog {
  .swiper-pagination {
    bottom: -30px;
  }
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-parent {
  position: relative;
}
.swiper-pagination {
  display: flex;
  justify-content: center;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  @include dir(rtl) {
    right: auto;
    left: 10px;
  }
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  @include dir(rtl) {
    right: 10px;
    left: auto;
  }
}

.general-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
  @include max-768 {
    margin-bottom: 25px;
  }
  .title {
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    margin-bottom: 0;
    @include max-768 {
      font-size: 20px;
    }
  }
  .showMore-anchor {
    font-size: 18px;
    color: #000000;
    transition: all linear 0.2s;
    @include max-768 {
      font-size: 16px;
    }
    &:hover {
      color: $main-color;
    }
  }
}

.success-toast {
  min-width: 350px;
  padding: 20px;
  min-height: 70px;
  border-radius: 5px;
  background-color: #cbf2cb;
  position: fixed;
  top: 110px;
  z-index: 15;
  inset-inline-start: -100%;
  transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  display: flex;
  align-items: center;
  @include max-768 {
    min-width: 285px;
    padding: 12px;
    min-height: 60px;
    @include dir(ltr) {
      min-width: 310px;
    }
  }
  .toast-content {
    display: flex;
    align-items: center;
    gap: 10px;
    .icon {
      font-size: 30px;
      color: #0aa30a;
      @include max-768 {
        font-size: 25px;
      }
    }
    .text {
      font-size: 18px;
      color: #0aa30a;
      font-weight: 500;
      margin-bottom: 0;
      @include max-768 {
        font-size: 16px;
      }
    }
  }
  .closeToastBtn {
    position: absolute;
    top: 10px;
    inset-inline-end: 10px;
    z-index: 2;
    display: flex;
    .icon {
      font-size: 18px;
      color: #0aa30a;
    }
  }
  &.show-toast {
    inset-inline-start: 20px;
    @include max-768 {
      inset-inline-start: 15px;
    }
  }
}

.upper-section {
  background-color: #000000;
  padding-block: 65px;
  @include max-768 {
    padding-block: 50px;
  }
  .cat-title {
    font-size: 48px;
    color: $main-color;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
    @include max-768 {
      font-size: 22px;
      line-height: 1.6;
    }
    @include dir(ltr) {
      line-height: 1.25;
    }
  }
  .cat-text {
    font-size: 18px;
    line-height: 2;
    color: #ffffff;
    font-weight: 500;
    text-align: center;
    margin-bottom: 0;
    @include dir(ltr) {
      line-height: 1.5;
    }
    @include max-768 {
      font-size: 16px;
      line-height: 1.8;
    }
  }
}

.pages-title {
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
  @include max-768 {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 1.5;
    @include dir(ltr) {
      line-height: 1.4;
    }
  }
}

.privacy-terms-page {
  padding-top: 80px;
  @include max-768 {
    padding-top: 50px;
  }
  .privacy-terms-content {
    padding-top: 35px;
    padding-inline: 25px;
    padding-bottom: 75px;
    background-color: #fff;
    @include max-768 {
      padding-bottom: 50px;
      padding-inline: 20px;
    }
    p {
      max-width: 1082px;
      font-size: 18px;
      line-height: 30px;
      color: #000000;
      margin-bottom: 30px;
      &:last-of-type {
        margin-bottom: 0;
      }
      @include max-768 {
        font-size: 16px;
        line-height: 1.5;
        max-width: 100%;
        margin-bottom: 25px;
      }
    }
    h4 {
      font-size: 18px;
      font-weight: 600;
    }
  }
}

// Start Preloader

.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.preloader {
  width: 100%;
  height: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  position: relative;
  overflow: hidden;
}

.preloader::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  background-color: $main-color;
  animation: preloaderAnimation 3s infinite linear;
}

@keyframes preloaderAnimation {
  100% {
    left: 100%;
  }
}

// back-up
.toTop {
  width: 40px;
  height: 40px;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.15));
  background-color: #ffffff;
  display: flex;
  position: fixed;
  right: 20px;
  bottom: 20px;
  align-items: center;
  justify-content: center;
  // border-radius: 5px;
  transform: translateY(20px);
  border: none;
  transition: all linear 0.2s;
  opacity: 0;
  visibility: hidden;
  z-index: 20;
  @include max-768 {
    bottom: 10px;
    right: 10px;
    width: 35px;
    height: 35px;
  }
  &:hover {
    background-color: $main-color;
    .toTop-icon {
      color: #fff;
    }
  }
  .toTop-icon {
    font-size: 20px;
    color: #000;
    transition: all linear 0.2s;
    @include max-768 {
      font-size: 18px;
    }
  }
}

.showToTop {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
